* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.custom__btn {
    padding: 10px 24px;
    width: 168px;
    height: 44px;
    border: none;
    background: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    color: white;
    margin-top: 27px;
}
/* .custom__btn span {
    margin-right: 4px;
} */
.custom__btn i {
    margin-left: 8px;
}

/* Navbar styles */
header {
    background: #2D25A0;
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
}
.nav-items,
.login {
    margin-top: 42px;
}
.nav-items {
    margin-left: 138px;
}
.login {
    margin-right: 124px;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 18px;
    margin-left: 18px;
}
nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}
.login i,
.login span {
    padding: 4px;
}
.login button {
    padding: 10px 24px;
    width: 123px;
    height: 44px;
    color: white;
    border: none;
    background: #E02C6D;
}

.header-section {
    display: flex;
    margin-left: 156px;
    margin-right: 140px;
    padding-bottom: 86px;
}
.header-content {
    margin-top: 121px;
}
.header-content h1 {
    font-weight: 700;
    font-size: 64px;
}
.header-content-img {
    width: 556.01px;
    height: 438px;
    margin-top: 67px;
}
.header-content-img img {
    width: 100%;
}




main {
    display: flex;
    justify-content: center;
    background: white;
}
.container {
    width: 1050px;
}

/* Player styles */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player-container {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px grey;
}
.player-container p {
    color: #6C6C6C;
    margin-top: 10px;
    margin-bottom: 18px;
}
.player-container h1 {
    color: #18191F;
    font-weight: 700;
    font-size: 28px;
    margin-top: 16px;
}
.img-container  {
    width: 300px;
    height: 256px;
}
.img-container img {
    width: 100%;
}


/* logo area */
.logo-section {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.logo-area {
    width: 490px;
}
.logo-container {
    width: 483px;
    margin-top: 158px;
}
.logo-container img {
    width: 100%;
}
.icon-contaier {
    display: flex;
    justify-content: center;
}
.icon-contaier .fab {
    font-size: 32px;
    margin: 14px;
    padding: 12px;
    color: #969BAB;
    background-color: rgb(228, 223, 223);
    border-radius: 50%;
}
.logo-area p {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    margin-top: 10px;
}















